# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtual Environment
venv/
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code / IDE
.vscode/
.idea/

# Logs
*.log

# DVC
.dvc/cache/
.dvc/tmp/

# MLflow
mlruns/
mlflow.db

# Model files
model/
models/

# Data files

# OS files
.DS_Store
Thumbs.db

# Python test/cache
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/

# Temporary files
*.tmp
*.swp

model/